@charset "utf-8";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    position: relative;
}
header{
    position: fixed;
    z-index: 900;
}
.header p{
    display: inline;
}
.portada{
    width: 100%;
    position: absolute;
    top: 0px;
}
